<!-- Footer -->
<footer class="bg3 p-t-15 p-b-15">
    <div class="container">
        <p class="stext-107 cl6 txt-center">
            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                href="https://colorlib.com" target="_blank">Colorlib</a>
        </p>
    </div>
</footer>